body {
    overflow-x: scroll;
    overflow-y: hidden;
    font-family: Arial'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-color: #777;
    color: #777;
    width:960px;
    font-size: 18px;

}

.header {
    padding: 10px;
    text-align: center;
    background: #ebebeb;
    margin-bottom: 10px;

}

.topnav {
    
    background-color:#ebebeb;
    text-align: center;
    padding: 10px;
    
    margin-bottom: 10px;
}
.thirdsection:after{
    content: "";
    display: table;
    clear: both;
    
}
.leftcolumn{
    float: left;
  width: 75%;
  padding:10px;
  
}
.rightcolumn{
    float: left;
  width: 25%;
  padding: 10px;
  
}

.section{
    float: left;
    padding: 10px;
    background-color: #ebebeb;
    width:495px;
    height:280px;
    text-align: center;
    margin: auto;
}
.aside{
    background-color: #ebebeb;
    text-align: center;
    float: right;
    width: 405px;
    height:280px;
    padding: 10px;
    margin: auto;
}
.article{
    color: '#ebebeb';
    background-color: #777;
    text-align: center;
    color: white;
    padding: 5px;

}
.headings{
    color: black;
    background-color: #ebebeb;
    padding:5px;
    text-align: center;
}
.para{
    color: black;
    background-color: #ebebeb;
    text-align: center;
    padding: 5px;
    margin-top: 5px;

}

.footer{
    
    clear: both;
    padding: 10px;
    background-color: #ebebeb;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;

 }